@page
@model Bloggie.Web.Pages.Admin.Blogs.ListModel
@{
}

@if(Model.BlogPosts != null)
{
    <div class="container-fluid">
        <h1 class="my-3 text-center">See the blog posts</h1>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Url Handle</th>
                        <th scope="col">Published Date</th>
                        <th scope="col">Author</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var blogPost in Model.BlogPosts)
                    {
                        <tr>
                            <td>@blogPost.Id</td>
                            <td>@blogPost.PublishedDate</td>
                            <td>@blogPost.Author</td>
                            <td><a href="/Admin/Blogs/View/@blogPost.Id">View</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
}

else
{
    <div class="container-fluid">
        <h1 class="d-flex justify-content-center align-items-center">There is no blog post.</h1>
    </div>
}